@charset "utf-8";
/* CSS Document */
/*内容区*/
.my_g{ width:764px; height:auto !important; height:200px; min-height:200px;  border:solid 1px #BCDEFA; }
.my_g_title_ba{ width:764px; height:30px; line-height:30px; color:#333333; background:url(../images/u_t_ba.png) repeat-x; border-bottom:solid 1px #BCDEFA;  }
.my_g_title_ba label{ display:block; width:13px; height:30px; float:left; background-position:5px -179px; }

.my_g_list{ width:756px; }
.list{  }

.list ul{ width:762px; overflow:hidden; }
.list ul li{ float:left;  line-height:30px; text-align:center;  }

.list_t{ background:#F6F6F6; border:solid 1px #EEEEEE; height:30px; }
.list_t li{height:30px; }

.l_t_1{ width:192px; font-weight:bold; }
.l_t_2{ width:150px; font-weight:bold; }
.l_t_3{ width:140px; font-weight:bold; }
.l_t_4{ width:140px; font-weight:bold; }
.l_t_5{ width:140px; font-weight:bold; }
li.l_t_ca{ font-weight:normal; height:55px;  padding-top:12px; border-bottom:solid 1px #EAEAEA;}

.l_t_1 img { float:left; margin-left:10px; margin-right:10px; }

.user_page{ padding:8px; }

.list_t_c{ height:70px; overflow:hidden; }
.list_t_c .l_t_1 label{ display:block; width:122px; height:45px; overflow:hidden; float:left; line-height:180%; text-align:left;  }